@import "tailwindcss";

:root {
    --darkOrange: #FF6A00;
    --lightOrange: #FF842C;
    --creamOrange: #F9B37F;
    --softOrange: #f9b47f3f;
    --grey: #EAEAEA;
    --textGray: #565656;
}

@theme inline {
    --color-darkOrange: var(--darkOrange);
    --color-lightOrange: var(--lightOrange);
    --color-creamOrange: var(--creamOrange);
    --color-softOrange: var(--softOrange);
    --color-grey: var(--grey);
    --color-textGray: var(--textGray);
}

@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    animation: fade-in 0.5s ease-in-out;
  }

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}
